streamlit
torch
torchvision       
pillow            
numpy      
opencv-python
opencv-python-headless        
matplotlib
PyYAML
tqdm
seaborn
tensorboard
ultralytics 


pickle
scipy
pandas
scikit_learn

