altair
anyio
appnope
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
boltons
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
clang
click
colorama
comm
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cycler
debugpy
decorator
defusedxml
distro
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
gitdb
GitPython
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
libmambapy
lightgbm
lightning-utilities
mamba
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
menuinst
mistune
mpmath
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk
notebook
notebook_shim
numpy
opencv-python
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip
pkgutil_resolve_name
platformdirs
pluggy
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pycosat
pycparser
pydeck
pyfiglet
Pygments
pyobjc-core
pyobjc-framework-Cocoa
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
scipy
seaborn
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
stack-data
streamlit
sympy
tabulate
tenacity
terminado
thop
tinycss2
toml
tomli
toolz
torch
torchmetrics
torchvision
tornado
tqdm
traitlets
truststore
types-python-dateutil
typing_extensions
typing-utils
tzdata
ultralytics
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
zipp
zstandard

