streamlit
tensorflow
numpy
pillow
opencv-python
ultralytics
torch 
libgl1-mesa-glx
click==8


streamlit==1.35.0
numpy==1.26.4
Pillow==10.3.0
opencv-python==4.9.0.80
ultralytics==8.2.20
torch==2.3.0
libgl1-mesa-glx
